server:
  port: 8080
  servlet:
    encoding:
      charset: UTF-8
      enabled: true
      force: true
    context-path: /

spring:
  application:
    name: coder-api

coder:
  cli:
    node-directory: your-node-directory
    cli-directory: your-cli-config-file-directory
    working-directory: you-working-directory

